@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.about-section {
  width: 100%;
  display: flex;
  justify-content: right;
  @include media(">=phone", "<lgphone") {
    flex-direction: column-reverse;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column-reverse;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content {
    width: 40%;
    margin-left: 25vh;
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }

    h1 {
      font-size: 36px;
      line-height: 20px;
      color: #c99c80;
      font-family: "Inter";
      font-style: italic;
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }
    p {
      font-family: "Inter";
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }
  }
  .image-wrapper {
    padding-left: 3vw;
    width: 40%;
    display: flex;
    overflow: hidden;
    animation: move 3s ease-in-out infinite alternate;
    @keyframes move {
      0% {
        transform: translate(0, 0px);
      }
      50% {
        transform: translate(0, 10px);
      }
      100% {
        transform: translate(0, -0px);
      }
    }
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }
    .wrap {
      background-color: #c99c80;
      width: 15vw;
      height: auto;
      border-radius: 47% 47% 0 0;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    img {
      width: 13vw;
      height: auto;
      border-radius: 47% 47% 0 0;
			filter: brightness(120%);
    }
  }
}
