@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.footer-container {
  width: 100%;
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  h1 {
    font-size: 36px;
    line-height: 20px;
    font-style: italic;
    color: #c99c80;
  }
  h2 {
    font-size: 1.5rem;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      display: none;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 14px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 1.2rem;
    }
  }
  .email-link {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    &:hover {
      color: #59a5d8;
    }
  }
  .social-icons {
    margin-top: 20px;
    img {
      height: 2rem;
      margin: 10px;
      &:hover {
        filter: invert(71%) sepia(15%) saturate(4349%) hue-rotate(176deg)
          brightness(92%) contrast(82%);
      }
    }
  }
  span {
    margin-top: 10px;
  }
  icon {
    color: red;
  }
}
