@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.header-wrapper {
  width: 100%;
  height: calc(50vh + 1vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 2.5rem;
    color: black;
    text-align: center;
    font-family: "Inter";
    padding-top: calc(20vh + 1vmin);
    margin-bottom: 0.5rem;
    @include media(">=phone", "<lgphone") {
      font-size: 16px;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 16px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 16px;
    }
  }
  p {
    color: black;
    text-align: center;
    font-family: "Inter";
    font-size: 1rem;
    font-style: italic;
    display:flex;
    margin: 0;
    // @include media(">=phone", "<lgphone") {
    //   font-size: 12px;
    //   width: 100%;
    // }
    // @include media(">=lgphone", "<tablet") {
    //   font-size: 12px;
    //   width: 100%;
    // }
    // @include media(">=tablet", "<desktop") {
    //   font-size: 14px;
    //   width: 100%;
    // }
  }

  .shape1 {
    // position: absolute;
    // left: 3%;
    // bottom: 35%;
    // z-index: -1;
    // animation: one 10s ease-in-out infinite alternate;
    position: absolute;
    top: 0;
    left: 0;
    width: 30vmin;
    z-index: -1;
    animation: one 2s ease-in-out infinite;
    // transform-origin: 50% 50%;
  }
  @keyframes one {
    // 0%   { transform: scale(1)   translate(10px, -30px); }
    // 38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    // 40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    // 78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    // 80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    // 100% { transform: scale(1)   translate(10px, -30px); }
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 30px); }
    100%   { transform: translate(0, -0px); } 
  }
  .shape2 {
    // position: absolute;
    // left: 20rem;
    // top: 8.4rem;
    // z-index: -1;
    // animation: two 5s linear infinite alternate;

    position: absolute;
    top: 8.5rem;
    left: 50rem;
    width: 40vmin;
    z-index: -1;
    animation: two 2s ease-in-out infinite;
  }
  @keyframes two {
    // 0% {
    //   transform: translate(0, 0);
    // }
    // 50% {
    //   transform: translate(550px, 410px) rotate(360deg);
    // }
    // 100% {
    //   transform: translate(1250px, 0);
    // }
    0% { transform: translate(0,  0px) rotate(160deg); }
    50%  { transform: translate(0, 30px) rotate(160deg);}
    100%   { transform: translate(0, -0px) rotate(160deg); } 
  }
  .shape3 {
    position: absolute;
    left: 92.5rem;
    top: 25rem;
    width: 30vmin;
    z-index: -1;
    animation: three 3s ease-in-out infinite alternate;
  }
  @keyframes three {
    // 0% {
    //   transform: translate(0, 0);
    // }
    // 50% {
    //   transform: translate(550px, 410px) rotate(360deg);
    // }
    // 100% {
    //   transform: translate(0, 0);
    // }
    0% { transform: translate(0,  0px) rotate(160deg); }
    50%  { transform: translate(0, 30px) rotate(160deg);}
    100%   { transform: translate(0, -0px) rotate(160deg); } 
  }
  .shape4 {
    position: absolute;
    left: 65rem;
    top: 24rem;
    z-index: -1;
    animation: four 5s linear infinite alternate;
  }
  @keyframes four {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-650px, -150px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  .shape5 {
    position: absolute;
    left: 73rem;
    top: 5rem;
    z-index: -1;
    animation: fifth 5s linear infinite alternate;
  }
  @keyframes fifth {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-550px, -150px);
    }
    100% {
      transform: translate(-1150px, 210px);
    }
  }

  .social-icons {
    img {
      height: 3rem;
      margin: 5vh 1vw 0 0;
      &:hover {
        filter: invert(71%) sepia(15%) saturate(4349%) hue-rotate(176deg)
          brightness(92%) contrast(82%);
      }
      @include media(">=phone", "<lgphone") {
        height: 4vh;
      }
      @include media(">=lgphone", "<tablet") {
        height: 4vh;
      }
      @include media(">=tablet", "<desktop") {
      }
    }
  }
}
