.navbar-wrapper {
	width: 80vw;
	margin-top: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.name {
		width: 10vh;
	}
	.links-wrapper {
		button {
			text-decoration: none;
			padding: 10px;
			font-family: "Open Sans";
			opacity: 0.6;
			transition: all 0.2s ease-in-out;
			font-size: 14px;
			background-color: transparent;
			outline: none;
			border: 0px;
			cursor: pointer;
			&:hover {
				opacity: 1;
			}
		}
		.active {
			color: black;
		}
		a {
			text-decoration: none;
			color: black;
			border: 1px solid black;
			border-radius: 0.25em;
			padding: 10px;
			font-family: "Open Sans";
			opacity: 0.6;
			transition: all 0.2s ease-in-out;
			font-size: 12px;
			&:hover {
				opacity: 1;
			}
		}
	}
}
