
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.work-wrapper {
	width: 100%;
	margin-top: 5vh;
	background-color: #f7f2ed;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		font-size: 36px;
		font-family: "Inter";
		font-style: italic;
		line-height: 20px;
		color: #C99C80;
	}
	.grid {
		display: grid;
		margin-top: 20px;
		padding: 2rem;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
		@include media(">=phone", "<lgphone") {
			grid-template-columns: 1fr;
		}
		@include media(">=lgphone", "<tablet") {
			grid-template-columns: 1fr;
		}
		@include media(">=tablet", "<desktop") {
			grid-template-columns: 1fr 1fr;
		}
	}
}
